@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

html {
  font-family: "Pretendard", ui-sans-serif, system-ui, sans-serif;
}

:root {
  /* Primary */
  --primary-100: #e1d6ff;
  --primary-400: #8357f4;
  --primary: #4514cb;
  --primary-dark: #331097;

  /* System Colors */
  --error: #ff8a90;
  --warning: #ffe694;
  --success: #9ce6bb;
  --information: #a1cdfd;

  /* Gray Scale */
  --gray-900: #222222;
  --gray-700: #696969;
  --gray-500: #989898;
  --gray-400: #c2c2c4;
  --gray-200: #e1e1e1;
  --white: #ffffff;
}
